$colorGrisClaro : #EEF1E5;
$colorGrisOscuro : #8f8f8f;
$colorBlanco : white;
$colorNegro : black;


$fontNewsreader : 'Newsreader', serif;
$fontLexendEnda : 'Lexend Exa', sans-serif;
$fontNotoSans : 'Noto Sans', sans-serif;
