
$fontNewsreader : 'Newsreader', serif;
$fontLexendEnda : 'Lexend Exa', sans-serif;
$fontNotoSans : 'Noto Sans', sans-serif;


$colores: (
    grisClaro: #EEF1E5,
    grisOscuro: #8f8f8f,
    blanco: white,
    negro: black,
    amarillo: #E6D64B,
)