.aside{
    background-color: $colorBlanco;
        .descubre{
            font-size: xx-large;
            padding: 70px;
            background-image: url(../img/segundafotoprin.jpg);
            overflow: hidden;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 488px;
            width: 80%;
            margin: 5% auto;
            align-items: center;
            justify-content: center;
            display: flex;
                a{
                    text-decoration: none;
                    font-family: $fontLexendEnda;
                }

        }
        .aside__logo{
            display: flex;
            justify-content: center;
            align-items: center;
                img{
                    width: 170px;
                    height: 50px;
                }
        }
        .made{
            p{
                text-align: center; 
                padding-bottom: 40px;
                font-size: x-large;
                font-family: $fontLexendEnda;
            }
        }
        .news{
            background-color: $colorNegro;
            color: $colorBlanco;
            text-align: center;
            padding: 50px;
                p{
                    font-family:$fontLexendEnda;
                }
                input[type=text], select, textarea{
                    width: 100%;
                    padding: 12px;
                    border: 1px solid #ccc;
                    border-radius: 20px;
                    resize: vertical;
                    font-family:'Lexend Exa', sans-serif;
                    font-size: medium;
                }
                
                label {
                    padding: 12px 12px 12px 0;
                    display: inline-block;
                    font-family:'Lexend Exa', sans-serif;
                }
                
                input[type=Enviar] {
                    background-color: #04AA6D;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    float: right;
                }
                
                input[type=Enviar]:hover {
                    background-color: #45a049;
                }
        }
    }


 @media screen and (max-width:600px){
    .descubre{
        height: 300px;
        width: 80%;
            p{
                margin-top: 30px;
            }
    }
}

@media(max-width:391px){
    .descubre{
        height: 220px;
        width: 85%;
            p{
                margin-top: -18px;
            }
    }
}

