.main{
    .bags{
        background-color: map-get($colores , negro);
        padding: 40px;
        p{
            font-size: x-large;
            color: map-get($colores , blanco);
            font-family:'Lexend Exa', sans-serif;
            text-align: center;
        }
    }
    .CardVenta{
        background-color: #F9F8F8;
        padding: 1rem; 
        .container-fluid{
            .row{
                .cardVenta__contenedor{
                    background-color: #F9F8F8;
                    display: flex;
                    margin: 0 auto;
                    justify-content: space-evenly;
                    position: relative;
                    height: 100%;
                    .card__contenedor{
                        border-radius: 10px 10px 10px 10px;
                        box-shadow: 0;
                        transform: scale(0.95);
                        transition: box-shadow 0.5s, transform 0.5s; 
                    }
                    .CardVenta__producto{
                        display: flex;
                        margin: 0 auto;
                        justify-content: baseline;
                        align-content: center;
                        position: relative; 
                        img{
                            width: 250px;
                            height: 350px;
                        }
                        button{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}



/*INICIO RESPONSIVE BAGS*/
@media screen and (max-width: 600px) {
    .cardVenta__contenedor {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        height: auto; 
    } 
}
@media screen and (max-width: 391px) {
    .cardVenta__contenedor {
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem; 
    } 
}